<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap.css">
	<style>
		.add{
			background: #3A87AD;
			color: white
		}
		th,tr{
			text-align: center
		}
		.btn{
			width: 35px;
		}
	</style>
</head>
<body>
	<a href="" class="add">添加</a>
		<table class="table table-bordered">
    	<tr>
        	<th>姓名</th>
        	<th>性别</th>
       		 <th>年龄</th>
       		 <th>操作</th>
    	</tr>
    	</table>
</body>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/demo.js"></script>
</html>